<!DOCTYPE html>
<html>
    <head>
        <title>Veritone Fullstack Coding Challenge</title>
    </head>
    <body>
        <div id="root">{{{body}}}</div>
        <script src="/static/js/runtime.js"></script>
        <script src="/static/js/bundle.js"></script>
    </body>
</html>